* {
    box-sizing: border-box;
}
body {
    font-family: "ABeeZee", sans-serif;
    height: 100vh;
}
nav {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #006666;
    position: fixed;
    height: 100vh;
    overflow: auto;
    text-align: center;
}

nav a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    background-color: #003333;
  }
   
  nav a.active {
    background-color: #003333;
    color: white;
  }
  
  nav a:hover:not(.active) {
    background-color: #00b3b3;
    color: black;
  }
main {
    margin-left: 250px;
    height: 100vh;
  }
  @media screen and (max-width: 767px) {
    nav {
      width: 100%;
      height: auto;
      position: relative;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
    }
    nav a {
        float: left;
        padding:10px;
    }
    main {
        margin-left: 0;
    }
    #profile-link {
      display:none;
    }
  }
  
  @media screen and (max-width: 527px) {
    nav a {
      text-align: center;
      float: none;
    }
    #profile-link {
      display:none;
    }
  }
#quote-box {
    border: 2px solid #e6ffff;
    border-radius: 7px;
    box-shadow: 3px 3px #99ffff;
    height:280px;
}
#quote {
    display: none;
}
button {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    background-color: #003333;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006666;
    color: white;
}



